
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* gradientit määritellään toisaalla...*/

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #838383 0%, #aeaeae 51%);
    background-image:-webkit-linear-gradient(top, #838383 0%, #aeaeae 51%);
    background-image:-ms-linear-gradient(top, #838383 0%, #aeaeae 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #838383),
        color-stop(0.51, #aeaeae)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /* text-transform:uppercase; */
    width:100%;
}


iframe{
    width:290px;
    height:230px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: border-box;
    -moz-background-clip:    border-box;
    background-clip:         border-box;
    
    
    border: 1px solid rgba(50%, 50%, 50%, 0.5)

}

#shopselectdiv{
    width:100px;
    display: inline-block;
}

#avs_contentblock{
    width:278px;
    height:168px; /* was 218 */
    overflow: auto;
    background-color:#FFFFFF;
    color: #808080;
    padding: 6px;
    text-shadow: 1px 1px #F0F0F0;
    -webkit-overflow-scrolling:touch;
    
    background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F0f3fF ),
    color-stop(0.51, #FFFFFF)
    );
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: border-box;
    -moz-background-clip:    border-box;
    background-clip:         border-box;
    
    
    
    background: rgba(0, 0, 0, 0.2);
    
    /* Border bottom light */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    /* Inner top shadow */
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    
    margin-bottom:0px;
    border: 1px solid rgba(50%, 50%, 50%, 0.5)
}

#avs_contentblock .info{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    color: #E0E0E0;
    text-shadow: 1px 1px #007A88;
    margin-top:-20px;
    padding:0px;

    
}

.avs_copyright {
    
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:10px;
    height:100%;
    color: #E0E0E0;
    text-shadow: 1px 1px #007A88;



}

#avs_contentblock .price_strong{
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
    height:100%;
    margin-bottom:50px;
    padding-bottom: 40px;
    margin-left: 8px;
    color: #E0E0E0;
    text-shadow: 1px 1px #007A88;
    
    
}

.ui-page, .ui-mobile-viewport {
	background-color:#aeaeae;
    background-image:linear-gradient(top, #efefef 0%, #aeaeae 51%);
    background-image:-webkit-linear-gradient(top, #efefef 0%, #aeaeae 51%);
    background-image:-ms-linear-gradient(top, #efefef 0%, #aeaeae 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #efefef),
        color-stop(0.51, #aeaeae)
    );
}

.ui-page.ui-body-c {
    background: url(img/mcm_bg_tpl.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;  
}
.ui-page {
    background: transparent;
}


.avs_center{
    /* background: transparent; */
    display: block;
    position:absolute;
    height:79%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top: 21%;
    vertical-align: middle;
    /* height: 100%; */
}

.app_res{
    display: block;
    width: 224px;
}

#avs_thumbnail{
    width: 64px;
 	height: 64px;
    position:absolute;
    right: 0px;
    top: 62px;
    margin-right: 16px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
    -webkit-background-clip: border-box;
    -moz-background-clip:    border-box;
    background-clip:         border-box;
    border: 1px solid rgba(50%, 50%, 50%, 0.5);
}

.avs_thumbnail{
    width: 64px;
 	height: 64px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: border-box;
    -moz-background-clip:    border-box;
    background-clip:         border-box;
    border: 1px solid rgba(50%, 50%, 50%, 0.5);
}


.ui-grid-a {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #E4E4E4;
    text-shadow: 2px 2px #307A88;
}


.ui-block-a {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #E4E4E4;
    text-shadow: 2px 2px #307A88;
}




.ui-block-b {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #E4E4E4;
    text-shadow: 2px 2px #307A88;
}


.ui-block-c {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #E4E4E4;
    text-shadow: 2px 2px #307A88;
}


#avs_discount {
    display: inline-block;
    margin-left: 8px;
    width: 70%;
}

#avs_price {
    display: inline-block;
    margin-left: 8px;
    width: 70%;
}

#avs_amount {
    display: inline-block;
    margin-left: 2px;
    width: 70%;
}

img.plusimage {
 	width: 64px;
 	height: 64px;
    margin-left: 10px;
    margin-bottom: -12px;
}

img.minusimage {
 	width: 64px;
 	height: 64px;
    margin-left: 10px;
    margin-top: -7px;
}


/* Portrait layout (default) */
.app {
    background:url(../img/avanseralogo.png) no-repeat right top; /* 170px x 200px */
    background-position:  16px 10px;
    background-size: 90px 90px;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 1px 1px #808080;
    
}

#app_logo_text {
    
    padding-left:110px;
}

.app_res {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #E4E4E4;
    text-shadow: 2px 2px #307A88;
    
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



.avsscan{
    position:relative;

}


.ui-btn {
    border-radius: 16px;
}

.avsbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#7777FF;
	font-family:arial;
	font-size:19px;
	font-weight:bold;
	padding:8px 24px;
    width: 160px;
    margin-left: 80px;
    margin-top: 380px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.avsbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.avsbutton:active {
	top:1px;
}
